body {
    line-height:1.7em;
    font-color:#3e3e3e;
    background:#fff;
    color:rgba(0, 0, 0, 0.75);
    /* font-family:'Segoe UI', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    margin:0;
    padding:0;
    text-align:center;
}

caption, th, td {
    text-align:left;
    font-weight:normal;
}

#Body {
    width:1078px;
    text-align:left;
    margin:15px auto 0;
}

.wrapper {
    width:1078px;
    margin:auto auto;
}

#Content {
    float:left;
    width:728px;
    margin:0 0 40px;
}


#Panel {
    float: right;
    width: 300px;
}

h1, h2, h3, h4, h5, h6 {
    color:rgba(0, 0, 0, 0.75);
    font-family:"Helvetica Neue", Helvetica, arial, sans-serif;
    font-weight:normal;
    margin:0;
}

p {
    margin:.5em 0 0 0;
    line-height:1.6em;
}

h1 {
    font-size:140%;
    font-weight:bold;
    margin-bottom:10px;
}

h2 {
    font-size:130%;
    font-weight:bold;
    margin-bottom:10px;
}

h3 {
    font-size:120%;
    font-weight:bold;
}

h4 {
    font-size:120%;
    color:#6c6c6c;
}

h5 {
    font-size:120%;
    color:#6c6c6c;
}

.transition, a:hover, a:active, li:hover, li:active, input {
    transition:all ease-in-out .20s;
    -webkit-transition:all ease-in-out .20s;
    -moz-transition:all ease-in-out .20s;
}

a:hover {
    text-decoration:none;
}

a:active {
    text-decoration:none;
}

.TextBoxWrapper {
    width:auto;
    padding-right:8px;
}

input.SmallInput:focus, input.InputBox:focus, textarea:focus {
    background:#ffe;
    border:1px solid rgba(0, 0, 0, 0.75);
}

a.Button, .Button {
    background:none;
    text-shadow:none;
}

a.Button:hover, .Button:hover{
    color:white;
} 
.Button.Active, .ButtonGroup.Open .Button.Handle, .Button:focus, .Button:active,
a.Button, .Button {
    margin:0;
    font-size:11px;
    padding:5px 10px;
    white-space:nowrap;
    font-weight:bold;
    border:0;
    color:white;
    background-color:#0076be;
}

a.Button {
    display:inline-block;
    padding:4px;
    line-height:100%;
    margin:3px auto;
    background-color:#0076be;
}

input.Button {
    font-size:14px;
    font-weight:bold;
    font-family:"segoe ui";
    background-color:#0076be;
}

.Buttons input.Button {
    margin-bottom:5px;
    background-color:#0076be;
/*    text-shadow:0 0 1px rgba(0, 0, 0, 0.69); */
    text-shadow:none;
}

a.BigButton, .Box, .TabLink, .Button, .colorchanger li, #DiscussionForm form, #DiscussionForm .Category:focus, #DiscussionForm input.InputBox:focus, #DiscussionForm textarea:focus, input.InputBox:focus, textarea:focus {
    box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
}

.Warning {
    background:#ffc;
    border:1px solid #ff9;
    color:rgba(0, 0, 0, 0.75);
    padding:6px 8px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.Alert {
    background:tomato;
    color:#fff;
    padding:1px 4px;
    width:10px;
    height:10px;
    font-size:75%
    border-radius:50%;
}

#PagerMore {
    margin-bottom:1px;
}

.NumberedPager, .PrevNextPager {
    margin:1px 0 0;
    text-align:right;
    font-weight:bold;
    font-size:16px;
}

#PagerBefore {
    margin:1px 0;
}

.NumberedPager a, .NumberedPager span {
    padding:0 4px;
}

.NumberedPager span, .NumberedPager a.Highlight {
    color:#fff;
    background:blue;
}

.NumberedPager a.Next, .NumberedPager span.Next, .NumberedPager a.Previous, .NumberedPager span.Previous {
    font-size:16px;
    line-height:10px;
}

.NumberedPager a.Next, .NumberedPager span.Next {
    margin-left:6px;
}

.NumberedPager a.Previous, .NumberedPager span.Previous {
    margin-right:6px;
}

.DismissMessage a.Dismiss, .DismissMessage a.Dismiss:hover {
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    color:#777;
    display:block;
    height:14px;
    margin:0;
    padding:1px 3px 2px 4px;
    width:auto;
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    right:-1px;
    top:-1px;
}

.DismissMessage strong {
    font-weight:bold;
}

.DismissMessage a.Dismiss:hover {
    text-decoration:none;
    border:0;
    background:#333;
    color:#fff;
}

.DismissMessage p {
    margin:2px 0;
}

#Head {
    padding:0;
}

.logo a:hover {
    text-shadow:0 1px 1px rgba(172, 172, 172, 0.72);
}

.logo a:active {
    padding-top:33px;
}

.logo {
    font-size:30px;
    font-weight:normal;
    text-align:left;
    margin-bottom:38px;
    padding-top:32px;
    display:none;
}

.colorchanger {
    position:absolute;
    top:0;
    right:0;
    display:none;
}

.colorchanger a {
    display:block;
    height:20px;
    width:20px;
}

.colorchanger li {
    float:left;
    margin-right:5px;
    margin-top:5px;
}

.blue {
    background:#016e97;
}

.green {
    background:#42b14f;
}

.red {
    background:#d13131;
}

.Search:after, div#Search:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

body #Head h1 {
    display:inline-block;
    font-weight:bold;
    margin:0;
    padding:21px 10px 4px 0;
    border:0;
}

#Head h1 a span {
    font-size:24px;
}

#Head .Search, #Head #Search {
    position:absolute;
    right:0;
    bottom:9px;
    text-align:right;
}

#Head form {
    width:250px;
    padding:0;
}

#Head form input.InputBox {
    width:200px;
    padding:4px;
    background:white;
    color:#383838;
    font-size:13px;
    vertical-align:bottom;
}

#Head form input.Button {
    font-size:11px;
    border:0;
    line-height:14px;
    padding:0 4px 5px;
    box-shadow:none;
    text-shadow:none;
    margin-left:-33px;
    margin-bottom:2px;
    background:white;
    color:rgba(0, 0, 0, 0.75);
}

.menuwrapper {
    height:45px;
    width:100%;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.69) inset;
    background:#f5f5f5;
}

.TopMenu {
    background-color:#0076be;
    color:white;
    padding:3px;
}

.TopMenu a:link,
.TopMenu a:hover,
.TopMenu a {
    color: white;
}

.menuicon {
    float: left;
    padding-top: 8px;
    margin: 0px 30px 0px 90px;
}

.Menu {
    position:relative;
    text-align:left;
    vertical-align:bottom;
    width:960px;
    margin:auto auto;
}

#Menu {
    display:inline-block;
    margin-right:280px;
    vertical-align:bottom;
}

#Menu li {
    line-height:27px;
    float:left;
    position:relative;
    display:block;
    list-style:none;
    padding:0;
    font-weight:normal;
    text-align:left;
    /* text-shadow:0 0 1px rgba(0, 0, 0, 0.69); */
    text-shadow:none;
}

* html #Menu li {
    display:inline;
}

#Menu a {
    border:0;
    text-decoration:none;
    position:relative;
    display:block;
    padding:10px;
    white-space:nowrap;
    font-size:16px;
    height:25px;
    color:#181818!important;
    line-height:23px;
}

* html #Menu a {
    display:inline;
    padding:6px 10px;
}

#Menu li.NonTab, #Menu li.NonTab a {
    font-weight:normal;
}

#Menu a:hover, #Menu a:active {
    // color:rgba(49, 49, 49, 0.75)!important;
    text-decoration:underline;
    background-color:;
    //edited by neyawn:;
    text-shadow:none;
}

#Menu a span, #Menu li.Active a span, #Menu li.Highlight a:hover span {
    padding:0 2px;
    font-size:12px;
    line-height:12px;
    font-weight:normal;
    text-shadow:none;
    /* background:white;
    color:rgba(0, 0, 0, 0.75); */
    font-family:sans-serif;
}

.OptionsMenu {
    display:inline-block;
    font-size:10px;
    font-weight:normal;
    line-height:100%;
}

.OptionsTitle{
    vertical-align:middle;
}

.Item .OptionsMenu {
    vertical-align:top;
    visibility:hidden;
}

.Open.OptionsMenu, .Item:hover .OptionsMenu {
    visibility:visible;
}

.MenuTitle {
    color:rgba(0, 0, 0, 0.75);
    border:1px solid #bbb;
    padding:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    user-select:none;
    background:url('images/buttons.png') right -96px no-repeat;
    padding-right:18px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
}

.Open .MenuTitle {
    border:1px solid #282828;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-bottomright:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-bottom-right-radius:0;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    color:#fff;
    background:url('images/buttons.png') right -144px no-repeat #282828;
}

.MenuItems {
    border:1px solid #282828;
    -moz-border-radius-bottomleft:2px;
    -moz-border-radius-bottomright:2px;
    -webkit-border-radius-bottom-left:2px;
    -webkit-border-radius-bottom-right:2px;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
    background:none repeat scroll 0 0 #444;
    min-width:125px;
    line-height:100%;
    font-size:10px;
    color:#fff;
    padding:0;
    margin-top:5px;
}

.MenuItems li {
    padding:6px!Important;
}

.MenuItems li:hover {
    background:#282828;
}

.ToggleFlyout {
    cursor:pointer;
    position:relative;
}

.ToggleFlyout .Flyout {
    position:absolute;
    top:100%;
    left:0;
    display:none;
    z-index:100;
}

.Flyout::before, .Flyout::after{
    border:none;
}

.Box {
    color:#888;
    margin:0 0 10px;
    border:2px solid rgba(0, 0, 0, 0.75);
    padding:5px;
}

.About {
    padding:5px;
}

.Box h4 {
    font-size:110%;
    font-weight:bold;
    margin:0;
    padding:5px;
    text-align:center;
}

.Box p {
    font-size:100%;
    padding:0 0 4px;
    color:#555;
}

.PanelInfo li {
    border-bottom:1px solid rgba(0, 0, 0, 0.75);
    padding:2px 4px;
    text-align:right;
}

.PanelInfo li.Heading {
    text-align:left;
    color:rgba(0, 0, 0, 0.75);
    font-weight:bold;
}

.PanelInfo {
    border-bottom:0;
}

.Moderators ul.PanelInfo li {
    text-align:left;
}

.Moderators ul.PanelInfo li a {
    float:none;
    font-weight:bold;
}

.Moderators ul.PanelInfo li a img {
    vertical-align:middle;
}

.PanelInfo .Meta span, .PanelInfo .Meta strong {
    margin-right:8px;
}

.PanelInfo .Active {
    background:#fff;
    border-bottom:1px solid rgba(0, 0, 0, 0.75);
}

.PanelInfo .Active a {
    font-weight:bold;
}

body.Profile .PanelInfo li {
    border-bottom:0;
    text-align:left;
}

body.Profile .PanelInfo li a {
    float:none;
}

a.BigButton, #Form_SaveDraft, #Form_Preview {
    text-align:center;
    display:inline-block;
    font-size:15px;
    font-weight:bold;
    background:#fff;
    border:2px solid rgba(0, 0, 0, 0.75);
    color:inherit;
}

a.BigButton {
    margin:0 0 10px;
    padding:8px 0;
    display:block;
}

a.BigButton:hover, #Form_SaveDraft:hover, #Form_Preview:hover {
    color:white;
    text-shadow:0 0 1px rgba(0, 0, 0, 0.69);
}

a.BigButton:active, #Form_SaveDraft:active, #Form_Preview:active {
    color:#dfdfdf;
    text-shadow:0 0 1px rgba(0, 0, 0, 0.69);
}

#Form_SaveDraft, #Form_Preview {
    margin:0 6px;
    padding:2px 6px 3px;
    text-shadow:none;
}

#Form_Search1 {
    padding:7px 10px 6px;
}

.DataList .Item {
    margin:0;
    padding:4px 0;
    border:0;
    position:relative;
    border-bottom:1px solid #5e5e5e;
}

.DataList .Item .Item {
    margin-bottom:10px;
}

.DataList .Options, .MessageList .Options {
    margin:2px 4px 0 0;
    position:absolute;
    right:0;
}


body.Discussion .Discussion .Options {
    position: static;
}

.DataList .OptionButton {
    position:absolute;
    top:0;
    right:0;
}

.DataList a.Title {
    display:block;
    font-size:130%;
    font-weight:bold;
    line-height:180%;
    margin:0;
    // neyawn:;
    color:#016e97;
    font-family:'Segoe UI', sans-serif;
}

.DataList .Title a {
    font-size:120%;
    font-weight:bold;
}

.DataList .Item a:hover {
    text-decoration:underline;
}

.DataList .Meta {
    font-size:12px;
    color:#70727c;
}

.DataList .Excerpt a {
    color:#333;
    display:block;
}

.DataList.Discussions .Meta span, .DataList .Meta strong {
    margin-right:12px;
}

.DataList .Meta .MetaLabel {
    margin-right:2px;
}

.DataList .Meta strong {
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background:#FF0;
    color:rgba(0, 0, 0, 0.75);
    font-size:9px;
    font-weight:bold;
    padding:3px;
    line-height:1;
}

.DataList .Meta .Tag a {
    color:#fff;
}

.DataList a.Delete, .DataList a.Delete:hover {
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    color:#333;
    display:block;
    height:14px;
    margin:0;
    padding:2px 4px;
    width:auto;
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    line-height:1;
}

.Condensed, .Condensed li {
    clear:left;
}

.Condensed .Excerpt a {
    display:block;
    padding:3px 0;
}

body.Activity h1 {
    margin:0;
}

body.Profile ul.Activities {
    margin-top:10px;
    border-top:1px solid #ddd;
}

.Activities .Excerpt {
    color:#80828c;
}

.Activities .Excerpt a, .Activities .Meta a {
    color:#1e79a7;
}

.Activities .Excerpt a:hover, .Activities .Meta a:hover {
    color:#ff0084;
}

.Activities .Excerpt img {
    padding:2px;
    border:1px solid #999;
}

.Activities ul.DataList {
    margin-left:50px;
    width:400px;
}

.Activities .ItemContent {
    width:631px;
}

.Activities .HasPhoto .ItemContent {
    margin-left:53px;
    width:578px;
}

.Activities .Item .HasPhoto .ItemContent {
    width:auto;
    margin-left:42px;
}

.Activities .DataList li {
    border:2px solid rgba(0, 0, 0, 0.73);
    margin-bottom:2px;
    padding:4px;
}

.HasPhoto .Excerpt, .HasPhoto .Meta {
    display:block;
}

.Activities .DataList .HasPhoto .Meta {
    padding:2px 0 0;
    line-height:1;
}

.Activities .CommentForm form div {
    text-align:right;
}

.Activities .CommentForm textarea.TextBox {
    width:380px;
    min-height:40px;
    height:40px;
    margin-bottom:2px;
    font-size:12px;
}

.Activities .CommentForm input.Button {
    font-size:12px;
    box-shadow:0 0 1px #999;
    -moz-box-shadow:0 0 1px #999;
    -webkit-box-shadow:0 0 1px #999;
}

.MessageList, .MessageList li {
    list-style:none;
    margin:0;
    padding:0;
}

.MessageList .Item {
    border-bottom:1px solid #5e5e5e;
    padding:10px 10px 4px 10px;
}

.MessageList .Meta {
    font-size:11px;
    color:#777;
    min-height:40px;
}

.Item .Author img {
    height:40px;
    width:40px;
    margin:0 10px 0 0;
    float:left;
    overflow:hidden;
    background:#eee;
    border:2px solid rgba(0, 0, 0, 0.75);
}

.MessageList .Meta span {
    line-height:inherit;
    padding-left:10px;
}

.MessageList .Meta .Author {
    padding:0;
}

.MessageList .Meta .Author a {
    font-size:15px;
    font-weight:bold;
}

.MessageList .Meta .CommentInfo {
    line-height:normal;
}

.MessageList .Meta .CommentInfo span {
    padding-left:0;
    padding-right:10px;
}

.Preview {
    text-align:left;
    padding:1px 8px;
    margin:4px 0 8px;
}

.Preview .Message, .MessageList .Message {
    clear:both;
    line-height:160%;
    color:#000000;
    font-size:14px;
    word-wrap:break-word;
}

.Preview .Message, .Preview .Message p, .MessageList .Message, .MessageList .Message p {
    margin:15px 0;
}

.Preview .Message blockquote, .MessageList .Message blockquote {
    padding:4px 16px;
    margin:4px 0;
}

.MessageList .Message small {
    font-size:11px;
    color:#777;
}

.Preview .Message strong, .MessageList .Message strong {
    font-weight:bold;
}

.Preview .Message em, .MessageList .Message em {
    font-style:oblique;
}

.Preview .Message ul, .Preview .Message ol, .MessageList .Message ul, .MessageList .Message ol {
    margin-left:3em!important;
}

.Preview .Message ol li, .MessageList .Message ol li {
    list-style:decimal!important;
}

.Preview .Message ul li, .MessageList .Message ul li {
    list-style:disc!important;
}

.Message h1, .Message h2, .Message h3, .Message h4, .Message h5 {
    font-family:'lucida grande', 'Lucida Sans Unicode', tahoma, sans-serif;
    font-weight:bold;
    border:0;
    color:rgba(0, 0, 0, 0.75);
}

.Message h1 {
    font-size:22px;
}

.Message h2 {
    font-size:20px;
}

.Message h3 {
    font-size:18px;
}

.Message h4 {
    font-size:16px;
}

.Message h5 {
    font-size:14px;
}

.Foot {
    padding:6px;
    text-align:right;
}

.Foot a.TabLink {
    margin-left:10px;
}

.Foot .Note {
    line-height:2.6;
    float:left;
    padding:0 0 0 8px;
    font-weight:bold;
}

body.Profile #Content {
    width:690px;
    margin:0 0 40px 20px;
    float:right;
}

body.Profile #Panel {
    float:left;
    width:250px;
}

.Photo {
    text-align:center;
}

.Photo img {
    border:2px solid rgba(0, 0, 0, 0.75);
}

.User {
    line-height:150%;
}

.User, .User a {
    text-decoration:none;
}

.User h1 {
    padding:0 0 8px;
    margin:0;
    line-height:100%;
    border:0;
}

#Status {
    background:none repeat scroll 0 0 #d3d3d3;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    color:#999;
    font-weight:normal;
    line-height:1.5;
    margin:0;
    padding:8px 8px 10px;
}

#Status p {
    font-size:120%;
    color:#6c6c6c;
    display:inline;
    margin:0;
    padding:0;
    line-height:1;
}

#Status a.Change {
    text-transform:lowercase;
    font-size:11px;
    text-decoration:none;
}

#Status a:hover {
    text-decoration:underline;
}

.User form {
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    -moz-border-radius-topleft:2px;
    -moz-border-radius-topright:2px;
    -webkit-border-top-left-radius:2px;
    -webkit-border-top-right-radius:2px;
    background:#cfecff;
    padding:8px 8px 0;
}

.User form input.InputBox {
    width:618px;
    margin-right:2px;
}

form.Activity {
    display:block;
    padding:10px 10px 0 10px;
    text-align:right;
}

form.Activity textarea {
    width:100%;
    margin-bottom:2px;
    height:60px;
    min-height:60px;
}

#Form_Invitation table {
    width:100%;
    border-collapse:collapse;
    margin:10px 0;
    background:#f2fbff;
    border:1px solid #c0e7f5;
}

#Form_Invitation table label {
    font-size:12px;
    padding:0;
}

#Form_Invitation table tr.Last td, #Form_Invitation table tr.Last th {
    border-bottom:0;
}

#Form_Invitation table th, #Form_Invitation table td {
    font-weight:normal;
    color:#555;
    padding:6px;
}

#Form_Invitation table thead th, #Form_Invitation table thead td {
    border-bottom:1px solid #c0e7f5;
}

#Form_Invitation table tbody th {
    font-weight:bold;
    color:rgba(0, 0, 0, 0.75);
}

#Form_Invitation table tbody th, #Form_Invitation table tbody td {
    border-bottom:1px solid #c0e7f5;
    line-height:150%;
}

#Form_Invitation table thead th {
    font-weight:bold;
    font-size:13px;
    color:rgba(0, 0, 0, 0.75);
}

#Form_Invitation table.AltRows tr.Alt th, #Form_Invitation table.AltRows tr.Alt td, #Form_Invitation table.AltColumns th.Alt, #Form_Invitation table.AltColumns td.Alt {
    background:#cfecff;
}

#Form_Invitation table.AltColumns tr.Alt {
    background:0;
}

body.Profile ul.Notifications {
    border-top:0;
    margin-top:0;
}

table.PreferenceGroup thead td {
    font-weight:bold;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    padding:2px 6px;
}

table.PreferenceGroup tbody td {
    border-bottom:1px solid #eee;
    padding:2px 6px;
}

table.PreferenceGroup tbody td.PrefCheckBox {
    text-align:center;
}

table.PreferenceGroup td.Description {
    font-size:12px;
}

.MessageForm, .Tabs, .Headings {
    display:block;
    border-bottom:2px solid rgba(0, 0, 0, 0.75);
    padding:5px 0;
    margin:0;
    position:relative;
}

.MessageForm .Tabs {
    padding:0;
    border:0;
    background:0;
    text-align:left;
    margin-bottom:7px;
}

.MessageForm .Tabs ul {
    display:inline;
}

.Tabs li {
    display:inline;
    margin:0;
}

.TabLink {
    display:inline;
    font-weight:bold;
    text-decoration:none;
    line-height:2.6;
    white-space:nowrap;
    background:#fff;
    border:2px solid rgba(0, 0, 0, 0.75);
    padding:5px;
    margin:0 8px 10px 0;
}

.TabLink:hover {
    color:white;
}

.Active .TabLink {
    color:white;
    text-shadow:0 0 1px rgba(0, 0, 0, 0.69);
}

.Tabs li a span {
    font-weight:normal;
    line-height:1;
    margin:0 0 0 4px;
    padding:0 3px;
    color:white;
}

.Tabs .SubTab {
    border-radius:2px 2px 2px 2px;
    font-size:24px;
    margin:10px 0;
    padding:4px 8px;
}

.HeadingTabs {
    padding:8px 8px 8px 12px;
}

.HeadingTabs ul {
    display:inline;
    float:right;
}

.HeadingTabs .SubTab {
    font-size:24px;
    display:inline;
    font-weight:bold;
    background:0;
    padding:0;
    line-height:2.4;
    color:#016e97;
}

.SearchTabs input.InputBox {
    width:560px;
    margin-right:10px;
}

.Headings {
    position:relative;
    text-align:left;
}

.Headings div {
    display:inline-block;
    padding-right:10px;
}

.Headings .ItemHeading {
    font-size:14px;
    font-weight:bold;
    line-height:2;
}

.Headings .MetaHeading {
    font-size:11px;
}

.MessageList .Item, body.Discussion #Content, .DiscussionsTabs {
    position:relative;
}

.Tabs .AdminCheck {
    position:absolute;
    right:26px;
    bottom:5px;
}

.AdminCheck {
    display:inline-block;
    height:22px;
    vertical-align:top;
}

form.Thumbnail table {
    width:100%;
}

form.Thumbnail table td {
    width:50%;
    font-weight:normal;
}

form.Thumbnail table tr td {
    vertical-align:top;
}

form.Thumbnail table tr th {
    padding-right:10px;
}

.Popup .Loading {
    display:block;
    width:200px;
}

div.Popup {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index:5000;
    text-align:center;
}

div.Popup .Legal, div.Popup .Content form {
    max-height:440px;
    overflow:auto;
    padding:0 10px 10px;
}

div.Popup h1, div.Popup h2 {
    font-size:120%;
    font-weight:bold;
    margin-bottom:0;
    padding:6px 9px 4px;
    text-shadow:none;
}

a.Close:hover {
    color:#fff;
}

div.Popup .Footer input.Button {
    font-size:11px;
    margin-right:2px;
}

body.Profile #Form_Invitation ul li label, body.Profile #Form_User ul li label, div.Popup form ul li label {
    color:rgba(0, 0, 0, 0.75);
    display:block;
    font-size:14px;
    font-weight:bold;
    margin:10px 0 0;
}

body.Entry form ul li.Gender label.RadioLabel, body.Profile #Form_User ul li.Gender label.RadioLabel, div.Popup form ul li.Gender label.RadioLabel {
    display:inline;
    padding-right:20px;
}

body.Profile #Form_User ul li label.RadioLabel, body.Profile #Form_User ul li label.CheckBoxLabel, div.Popup form ul li label.RadioLabel, div.Popup form ul li label.CheckBoxLabel {
    font-weight:normal;
}

div.Profile #Form_User input.Button, div.Popup input.Button {
    margin:4px 0 2px;
}

div.Popup #Form_User .Warning, #dashboard_profile_picture #Form_User .Warning {
    margin:6px 0;
}

#Foot a:hover {
    text-decoration:underline;
}

#Foot div {
    width:960px;
    padding:6px 0;
    margin:20px auto 0;
    text-align:left;
}

#Panel ul.Discussions {
    border:0;
}

.PanelDiscussions li {
    text-align:left;
}

.PanelDiscussions li a {
    float:none;
}

.PanelDiscussions li strong {
    display:block;
    line-height:1.5;
}

.DataList .Meta a.Category {
    background:#fafafa;
    padding:2px 4px;
}

.DataList li.Mine .Meta a.Category {
    color:white;
}

.Tag {
    background:#777;
    border-radius:2px;
    color:#fff;
    font-weight:bold;
    padding:1px 4px;
}

.DataList .Meta .Announcement {
    background:#777;
    color:#fff;
    padding:1px 4px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    font-weight:bold;
}

.DataList .Meta .Closed {
    background:#555;
    color:#fff;
    font-weight:bold;
    padding:1px 4px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

body.Discussion #Content {
    margin-bottom:20px;
}

ul.Discussion {
    margin-bottom:1px;
}

a.Bookmark span, a.Bookmarking span {
    display:none;
}

a.Bookmarking {
    background-position:bottom center;
}

body.Discussion a.Bookmark {
    float:right;
}

body.Discussion .Back {
    padding:3px 6px;
    text-align:left;
}

.DataList .ItemContent {
    margin:0 0 0 9px;
    min-height: 65px;
}

.Drafts .ItemContent a.Title, .Discussions .ItemContent a.Title {
    max-width:580px;
}

.Editing {
    background:#e3f4ff;
}

.CommentForm textarea.TextBox {
    width:100%;
    height:100px;
    min-height:100px;
    margin:0 0 6px;
}

.Comment .CommentForm {
    background:0;
    padding:6px 0;
    border:0;
}

#DiscussionForm label {
    font-size:14px;
    font-weight:bold;
    color:#666;
}

body.Post #Panel {
    display:none;
}

body.Post #Content {
    width:100%;
}

#DiscussionForm h1 {
    font-size:24px;
    font-weight:normal;
}

#DiscussionForm h2 {
    border:0;
    color:#02475a;
    font-size:140%;
    font-weight:bold;
    margin:0;
    padding:6px;
}

#DiscussionForm form {
    border:2px solid rgba(0, 0, 0, 0.71);
    margin:0;
    padding:20px;
    width:100%;
}

#DiscussionForm .Tabs {
    margin:0 -20px;
}

#DiscussionForm textarea {
    width:100%;
    height:100px;
    min-height:100px;
    margin:0 0 6px;
}

#DiscussionForm .Category, #DiscussionForm input.InputBox {
    width:100%;
    margin-bottom:10px;
}

#DiscussionForm .Category label {
    padding:0 8px 0 0;
}

.CommentForm .Buttons {
    text-align:right;
}

.CommentForm a.Back, .CommentForm a.Cancel {
    float:left;
}

#DiscussionForm a.Cancel {
    margin-left:18px;
    font-weight:bold;
}

#DiscussionForm .PostOptions li {
    display:inline;
    padding:0 8px 0 0;
}

#DiscussionForm .PostOptions label {
    display:inline;
    font-weight:normal;
    font-size:95%;
    color:#555;
}

#MessageForm {
    border:2px solid rgba(0, 0, 0, 0.74);
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    margin:15px 0 0;
    padding:4px 8px 8px;
}

#MessageForm h2 {
    font-size:115%;
    font-weight:bold;
    border:0;
}

#MessageForm form div {
    text-align:right;
}

#MessageForm textarea {
    width:100%;
    height:100px;
    min-height:100px;
    margin-bottom:2px;
}

body.add #Panel {
    display:none;
}

body.add #Content {
    width:auto;
}

#ConversationForm form {
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background:none repeat scroll 0 0 #c4e1ff;
    margin:0;
    padding:20px;
    text-align:right;
}

#ConversationForm h2 {
    color:#02475a;
    font-size:140%;
    font-weight:bold;
    margin:0;
    padding:6px;
    text-align:left;
    border:0;
}

.Popup #ConversationForm form {
    background:0;
    -border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    padding:10px;
}

.Popup #ConversationForm h2 {
    color:#fff;
    font-size:120%;
    font-weight:bold;
    padding:6px 9px 4px;
}

.Popup #ConversationForm textarea.MultiComplete, .Popup #ConversationForm .TextBox {
    width:100%;
}

body.Entry {
    text-align:center;
}

body.Entry #Panel {
    display:none;
}

body.Entry #Content {
    float:none;
    margin:0 auto;
    width:360px;
    text-align:center;
}

body.Entry #Content h1 {
    border:0;
    font-size:140%;
    font-weight:bold;
    padding:6px;
    margin:0;
    text-align:left;
}

body.Entry #Content form {
    text-align:left;
    padding:10px;
}

body.Entry form ul li label {
    font-size:14px;
    color:#474747;
    font-weight:bold;
    padding:6px 0 0;
    display:block;
}

body.Entry input.DateBox, body.Entry input.InputBox, body.Entry textarea {
    width:310px;
}

body#dashboard_entry_password #Content, body#dashboard_entry_signin #Content, body#dashboard_entry_index #Content {
    width:auto;
}

.SignInPopup .Content form {
    padding:0 10px 10px;
}

body#dashboard_entry_password #Content form, body#dashboard_entry_index #Content form, body#dashboard_entry_signin #Content form {
    padding:0;
    text-align:left;
}

body#dashboard_entry_password #Content form, body#dashboard_entry_signin #Content form, body#dashboard_entry_index #Content form, .SignInPopup form {
    
}

.SingleEntryMethod {
    width:290px;
    margin:0 auto;
}

.MultipleEntryMethods {
    width:500px;
    margin:0 auto;
}

.MultipleEntryMethods .Methods {
    border-left:solid 1px #bec8cc;
}

body#dashboard_entry_handshake #Content input.InputBox, body#dashboard_entry_signin #Content input.InputBox, body#dashboard_entry_index #Content input.InputBox, body#dashboard_entry_password #Content input.InputBox, .SignInPopup input.DateBox, .SignInPopup input.InputBox, .SignInPopup textarea {
    width:260px;
    padding:3px;
}

.SignInPopup form ul li label, body#dashboard_entry_signin form ul li label, body#dashboard_entry_index form ul li label, body#dashboard_entry_password form ul li label, body#dashboard_entry_handshake form ul li label {
    font-size:13px;
    line-height:1.5;
    padding:0;
}

body#dashboard_entry_password #Content form ul li input#Form_Email, body#dashboard_entry_signin #Content form ul li input#Form_Email, body#dashboard_entry_index #Content form ul li input#Form_Email {
    margin-bottom:6px;
}

body#dashboard_entry_password ul li label.CheckBoxLabel, body#dashboard_entry_signin ul li label.CheckBoxLabel, body#dashboard_entry_index ul li label.CheckBoxLabel, .SignInPopup ul li label.CheckBoxLabel {
    color:#777;
    display:inline;
    font-size:12px;
    font-weight:normal;
    margin:10px 0 0 10px;
}

body.Entry li.Buttons input.Button, .SignInPopup li.Buttons input.Button {
    margin:10px 0;
}

.Entry {
    position:relative;
}

.Methods {
    text-align:left;
    position:absolute;
    top:33px;
    bottom:0;
    right:0;
    padding:12px 20px 6px;
    line-height:1;
    width:170px;
}

body#dashboard_entry_password .Methods, body#dashboard_entry_signin .Methods, body#dashboard_entry_index .Methods {
    background:0;
}

.Methods .Method {
    padding:10px 0 0;
    text-align:left;
}

.MultipleEntryMethods .Methods {
    line-height: 1;
    padding: 2px 15px 8px;
    top: 2px;
}

.Connect h1, .Connect h2 {
    text-align:left;
}

.ConnectInfo {
    margin:10px 0 0;
    position:relative;
}

.ConnectInfo img {
    position:absolute;
    height:36px;
    width:36px;
    top:0;
    left:0;
}

.ConnectInfo span.Name {
    padding-left:46px;
    font-weight:bold;
    line-height:1;
    font-size:13px;
    color:#444;
    display:block;
}

.ConnectInfo h3 {
    font-family:'lucida grande', 'Lucida Sans Unicode', tahoma, sans-serif;
    font-size:15px;
    font-weight:bold;
    line-height:1.6;
    color:#333;
    padding:0 0 10px 46px;
    border:0;
}

.Connect form ul li label, .SignInPopup form ul li label, body#dashboard_entry_password form ul li label, body#dashboard_entry_signin form ul li label, body#dashboard_entry_index form ul li label {
    font-size:13px;
    line-height:1.5;
    padding:0;
}

.Connect .FinePrint, .SignInPopup .FinePrint {
    font-size:11px;
    color:#777;
}

body#dashboard_entry_password input.InputBox, body#dashboard_entry_signin input.InputBox, body#dashboard_entry_index input.InputBox, .Connect input.InputBox, .SignInPopup input.InputBox {
    padding:3px;
}

.Connect .ExistingUsername, .SignInPopup .ExistingUsername {
    font-weight:bold;
    line-height:1;
    font-size:13px;
    color:rgba(0, 0, 0, 0.75);
    display:block;
}

.Errors ul {
    border:1px solid #a00!important;
    background:#d50a0a!important;
    padding:6px 10px;
    display:block;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

div.Popup .Errors ul {
    display:block;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    border:1px solid #a00!important;
}

.Errors pre {
    margin:10px 0 5px;
    padding:4px 8px;
    display:block;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    white-space:pre;
    overflow:auto;
    box-shadow:0 0 2px #333;
    -moz-box-shadow:0 0 2px #333;
    -webkit-box-shadow:0 0 2px #333;
}

.InformMessages .InformWrapper {
    display:block;
}

.InformMessages .InformMessage {
    color:#fff!important;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.75);
    text-align:left!important;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background:rgba(0, 0, 0, 0.7)!important;
    border:none!important;
    width:auto!important;
    max-width:400px!important;
    margin:10px auto 0!important;
    padding:9px 14px 8px!important;
    display:inline-block;
    zoom:1;
    *display:inline;
    position:relative;
    line-height:1.6;
}

body.embed {
    text-align:left;
}

body.embed div.Popup h1, body.embed div.Popup h2, body.embed .Connect h1, body.embed .Connect h2 {
    background:#3b5998;
    border-bottom:1px solid #2e4778;
}

.Embed a {
    color:#3b5998!important;
}

.Embed a:hover {
    text-decoration:underline!important;
}

.Embed a.Button, .Embed a.Button:hover {
    color:#333!important;
    text-decoration:none!important;
    font-weight:bold;
}

.Embed h3 {
    font-family:'lucida grande', 'Lucida Sans Unicode', tahoma, sans-serif;
    font-size:15px;
    font-weight:bold;
    border-bottom:1px solid #bec8cc;
}

.Embed .MessageForm {
    background:#f2f2f2;
    border-top:1px solid #fff;
    border-bottom:1px solid #bec8cc;
    padding:7px 8px;
}

.Embed .TextBox {
    width:100%;
    height:50px;
    min-height:50px;
    padding:3px;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    font-size:12px;
}

.Embed .Author {
    display:inline-block;
    font-size:11px;
    color:#777;
    padding:0 8px 0 0;
}

.Embed input.Button {
    font-size:12px;
}

.Embed .MorePager a, .Embed .MorePager a:link, .Embed .MorePager a:hover, .Embed .MorePager a:active, .Embed .MorePager a:visited {
    background:0;
    border:0;
    padding:0;
}

.Embed .MorePager {
    border-bottom:1px solid #bec8cc;
    padding:2px 8px 4px;
    background:#f2f2f2;
}



input.DateBox, input.InputBox, input.SmallInput, textarea {
    font-family:inherit;
    color:#333;
    font-size:15px;
    padding:3px;
    margin:0;
    width:250px;
    border:1px solid rgba(0, 0, 0, 0.72);
}



.Count {
    color:#fff;
    font-size:80%;
    font-weight:normal;
    padding:1px .8ex;
}



.DismissMessage a.Dismiss {
    font-family:arial;
    position:absolute;
    font-size:22px;
    font-weight:bold;
    line-height:1;
    color:#999;
    top:3px;
    right:5px;
}


.DismissMessage {
    text-align:left;
    position:relative;
    color:rgba(0, 0, 0, 0.75);
    border:0;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    margin:0 0 10px;
    padding:10px;
}

.DismissMessage.Box {
    background:#fff8ce;
    border:1px solid #c5bea4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}



.MenuItems a, .MenuItems a:link, .MenuItems a:visited, .MenuItems a:active {
    color:#fff!important;
    display:block;
    text-decoration:none;
    padding:0;
}

.Flyout.MenuItems a:hover{
    background-color:#282828!important;
}



a.Bookmark, a.Bookmarked, a.Bookmarking {
    display:inline-block;
    background:url('images/star_sprite.png') top center no-repeat;
    height:22px;
    width:22px;
}



.DataList .Title {
    font-size:14px;
    display:block;
    margin:0;
}



.DataList .Excerpt {
    font-size:12px;
    line-height:1.4;
}

.DataList a.Delete:hover {
    text-decoration:none;
    border:0;
    background:#333;
    color:#fff;
}

pre {
    display:block;
}

.Overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.MSIE .Overlay {
    background:gray;
    filter:alpha(opacity=0);
}

div.Popup .Body {
    background:#fff;
}

.ac_over {
    color:#fff;
}

.ProfilePhotoSmall {
    height:24px;
    width:24px;
}

    .SocialIcon-Google .Icon {
        background-position: 0 -72px;
    }
    .SocialIcon-Google.HasText .Icon {
        background-position: 0 -96px;
    }
    .SocialIcon-Google,
    .SocialIcon-Google.HasText .Icon {
        background-color: #da5442;
    }
    
.SocialIcon-Google.HasText .Text{
    display:none;
}

.SocialIcon-Google {
    background-color: #da5442;
    background-image: url("images/google+.png");
    background-position: -5px -5px;
    background-repeat: no-repeat;
    background-size: 154px auto;
    border-radius: 3px;
    display: inline-block;
    height: 25px;
    margin: 0;
    padding: 0;
    width: 154px;
}

.GuestBox #FacebookAuth > img {
    width: 25px;
}

.GuestBox .SocialIcon-Google {
    width: 25px;
}

.content-box-blue,.content-box-gray,.content-box-green,.content-box-purple,.content-box-red,.content-box-yellow {
    margin-bottom:32px;
    margin-bottom:2rem;
    padding:24px;
    padding:1.5rem
}

.content-box-blue{background-color:#d8ecf7;border:1px solid #afcde3}
.content-box-gray{background-color:#e2e2e2;border:1px solid #bdbdbd}
.content-box-green{background-color:#d9edc2;border:1px solid #b2ce96}
.content-box-purple{background-color:#e2e2f9;border:1px solid #bebde9}
.content-box-red{background-color:#f9dbdb;border:1px solid #e9b3b3}
.content-box-yellow{background-color:#fef5c4;border:1px solid #fadf98}

/** Code for boxes**/
/* Blue Box */
.bbox {
    color: #FFFFFF;
    background-color: #4C96C6;
    margin-bottom: 18px;
    padding: 32px;
    padding: 1.5rem;
}

/* Amber Box */
.abox {
    color: #FFFFFF;
    background-color: #FF7017;
    margin-bottom: 18px;
    padding: 32px;
    padding: 1.5rem;
}

/* Green Box */
.gbox {
    color: #FFFFFF;
    background-color: #81A844;
    margin-bottom: 18px;
    padding: 32px;
    padding: 1.5rem;
}

.adbox {
    border-style:solid;
    border-width:2px;
    border-color:black; 
    padding:2px;
    margin:2px;
}

/*END*/
/** Code for myFooter **/
#Foot {
color:#016e97;
/*background:url('/zuploadedfiles/mods/upload/499.png');
border-top:thick double #000000;*/
list-style:none;
}

#themeCredit {
    color:#016e97;
    text-align: center;
}

.logo {
  display:none;
}

/* voting */


body .ViewsBox {
    background-color: #eeeeee;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: #888;
    margin-left: 3px;
}
body .AnswersBox {
    background-color: #73c4eb;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
}

body ul.DataList div.Meta .NewCommentCount {
    background-color: #96f4fe;
    border: 1px solid #369dd1;
    bottom: 5px;
    box-shadow: none;
    color: #1e79a7;
    left: auto;
    margin-right: 4px;
    right: 0;
    top: auto;
}

body ul.DataList div.Meta .NewCommentCount .Number {
    margin: 2px;
}

body .StatBox {
    font-size: 11px;
    height: 36px;
    margin-top: 1px;
}

body .DataList .Options, body .MessageList .Options {
    margin-right: -24px;
    margin-top: -2px;
}

body .Read .ViewsBox {
    background-color: #ddd;
    color: #555;
}

body .StatBox span {
    font-size: 9px;
    padding-bottom: 5px;
    padding-top: 2px;
}

body span.Votes a, body span.Votes span {
    background-color: transparent;
    display: inline-block;
    padding: 0 !important;
}
body .Votes {
    background-color: #73c4eb;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    right: 5px;
    text-align: center;
    width: 45px;
}

body span.Votes span {
    background-color: #eee;
    color: #888;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    min-width: 45px;
}
body i.ArrowSprite {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

body span.Votes a.VoteUp::after, body span.Votes a.VoteDown::after {
    content: "\25BE";
    display: inline-block;
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 40px;
}

body span.Votes a.VoteUp, body span.Votes a.VoteDown {
    line-height: 10px;
}

body span.Votes a.VoteUp::after {
    content: "\25B4";
}

body span.Votes a:hover {
    background-color: #38abe3;
    border-radius: inherit;
    color: #fff;
    height: 32px;
    text-shadow: none;
}

body ul.DataList div.Options {
    right: 80px;
    top: 11px;
}

body .Item-Body {
    padding-top: 10px;
}

body span.Votes a.VoteUp:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

body span.Votes a.VoteDown:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

body div.AnswerTabs li.Active a {
    background-color: #fff;
    border-color: #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
/* voting end */

