/discuss/index.php
/discuss/cache/*/
/discuss/cache/*.ini
/discuss/cache/*.php
/discuss/uploads/*/
/discuss/uploads/*.*
/discuss/conf/config.php
/discuss/conf/bootstrap.early.php
/discuss/conf/bootstrap.late.php
/discuss/conf/locale-*
/discuss/applications/vanillaforumscom
/discuss/applications/vfcom
/discuss/applications/vforg
*/.kpf
*/.DS_Store*
*/Thumbs.db
*.swp
*/_notes
*/_archive/*
*/~*
*/.project
*/.settings
*/.buildpath
*/.idea/*
